html,
body,
#root {
  height: 100%;
  margin: 0
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 81, 181);
  border-radius: 10px;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}